@import 'libs/bootstrap-reboot.min';


* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;

}

.header__navigation>li:hover .header__navigation-sub {
    display: block;
}



.container {
    position: relative;
    width: 1200px;
    margin: 0 auto;
}

@import 'bloks/header';
@import 'bloks/carousel';
@import 'bloks/promo';
@import 'bloks/subtitle';
@import 'bloks/btn';
@import 'bloks/advant';
@import 'bloks/castom';