.castom {
    padding: 63px 0 101px 0;
    background: #f9f9f9;
    margin-left: 39px;
    margin-right: 21px;


    &__wrapper {
        margin-top: 63px;
        display: flex;
        justify-content: center;
    }

    &__slider {
        position: relative;
        display: flex;
        margin-left: 33px;


        &_item {
            width: 143px;
            cursor: pointer;
        }
    }

    &__mag {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        width: 144px;
        height: 124px;
        background-color: #ffffff;



        &:hover {
            background: url('../../img/hover/kamaz_hover.jpg') 50% 50% no-repeat;

        }
    }
}


.hidden {
    overflow: hidden;
}

.slick-track {
    display: flex;
}

.slick-list {
    overflow: hidden;
}

.slick-arrow {
    position: absolute;
    margin-top: -20px;
    top: 50%;
    z-index: 10;
    font-size: 0;
    width: 22px;
    height: 40px;
    border: none;
}

.slick-arrow.slick-prev {
    background: url('../../icons/slider_footer/prev.png') 0 0 no-repeat;
    left: 80px;
}

.slick-arrow.slick-next {
    background: url('../../icons/slider_footer/next.png') 0 0 no-repeat;
    right: 80px;
}