.footer {
    padding: 56px 0 27px 0;
    min-height: 180px;
    background: #e3e3e3;
    position: relative;

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    a {
        text-decoration: none;

    }


    &__phone {
        width: 150px;
        font-size: 18px;
        font-weight: 400;

        a {
            color: #000000;
        }


    }

    &__about {
        width: 95px;
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;

        a {
            color: #000000;
        }

    }

    &__contacts {
        width: 205px;
    }

    &__policy {
        position: absolute;
        bottom: -10px;
        right: 30px;
        font-family: "OpenSans";
        font-size: 11px;
        font-weight: 300;
        color: #000000;
    }

    &__bottom {
        display: block;
        margin-top: 24px;
    }

    &__wrap {
        a {
            background-image: url('../img/spritesheet.png');
            background-repeat: no-repeat;
            height: 24px;
            width: 24px;
            margin-right: 10px;
            display: inline-block;
            margin-top: 38px;
            margin-right: 1px;
        }

        &_facebook {
            background-position: -5px -5px;

            &:hover {
                background-position: -5px -38px;
            }
        }

        &_vk {
            background-position: -35px -5px;

            &:hover {
                background-position: -37px -38px;
            }
        }

        &_ok {
            background-position: -67px -5px;

            &:hover {
                background-position: -67px -38px;
            }
        }

        &_youtube {
            background-position: -97px -5px;

            &:hover {
                background-position: -97px -38px;
            }
        }

        &_instagram {
            background-position: -127px -5px;

            &:hover {
                background-position: -127px -38px;
            }
        }


    }

}