.header {
    padding-top: 54px;
    padding-bottom: 15px;

    a {
        text-decoration: none;
    }

    &__log {
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        font-size: 25px;
        font-weight: bold;
        color: #00aeef;
        text-transform: uppercase;
        letter-spacing: 2px;

        &:hover {
            color: #00aeef;
        }

    }

    &__logo {
        line-height: 15px;
        width: 167px;



        span {
            font-size: 9px;
            font-weight: 300;
            margin-top: 8px;
            text-transform: none;
        }
    }

    &__main {
        display: flex;
        align-items: center;

    }



    &__navigation {
        list-style: none;
        display: flex;
        margin-left: 320px;

        &_link {
            position: relative;
            display: inline-block;
            font-size: 14px;
            font-weight: 400;
            text-transform: uppercase;
            color: #000000;
            margin-right: 52px;
            padding-top: 9px;

            &:hover {
                border-bottom: 1px solid #000000;
                color: #000000;

            }


            &_last {
                margin-right: 59px;
            }
        }

        &-sub {
            position: absolute;
            padding: 35px;
            width: 479px;
            min-height: 309px;
            background: url("../img/hover/bg_menu.jpg") center center/cover no-repeat;
            display: none;
            z-index: 10;

            li {
                display: inline-block;


            }

            a {
                font-size: 16px;
                line-height: 3em;
                font-weight: 300;
                color: #000000;

                &:hover {
                    border-bottom: 1px solid #000000;
                    transition: all 0.6s;

                }
            }
        }
    }

    &__phone {
        display: block;
        padding-bottom: 9px;

        a {
            color: #000000;
            font-size: 18px;
            font-weight: bold;

            &:hover {
                border-bottom: 1px solid #000000;
                color: #000000;
            }
        }
    }

}